<% if @all_messages.any? %>
    <% @all_messages.each do |message| %>
    <p>From: <%=message.from_number %> <%= message.body %> </p>
    <% if @all_replies.any? %>
      <% @all_replies.each do |reply| %>
        <p>FeedMePdx: <%= reply.body %> </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
