<%= stylesheet_link_tag "text-interface", media: "all" %>



<h1>Welcome To The Text Portal</h1>

<%= link_to "Start Session", text_interface_messages_path, class: "btn", remote: true %>

<div class="display-overlay"></div>
