
<%= stylesheet_link_tag "homepage", media: "all" %>

<div class="bg-img">
  <div class="black-overlay">

  </div>
</div>

<h1 class="number-to-text">Text Your Order To: (971) 302-4413</h1>

<div class="homepage-info-section">
  <div class="container">
    <h1>Lunch Should Be Easy</h1>
    <h1>Feed Yourself With Text</h1>
    <h2>All food carts in our network accept text-message ordering</h2>
  </div>
</div>
