
.message-block {
  margin: 2% auto;
  height: 400px;
  overflow:auto;
  text-align: center;
  width: 80%;
  padding: 2em;
  border-radius: 20px;
  border: 2px solid white;
  background-color: beige;
  margin-bottom: 0;
}

.customer-message {
  border-radius: 20px;
  padding: 2em;
  width: 40%;
  background-color: rgba(55, 100, 150, .3);
  border: 1px;
  text-align: left;
  color: green;
}

.food-cart-message {
  border-radius: 20px;
  padding: 2em;
  margin-left: 60%;
  width: 40%;
  background-color: rgba(20, 255, 99, .3);
  border: 1px;
  text-align: right;
  color: blue;
}

h1 {
  text-align: center;
}
//
// .text-slide-in {
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 244, .8);
// }

body {
  position: relative;
}

label {
  color: white;
}

.reply-block {
  margin: 0 auto;
}

.reply-form {
  text-align: center;
  label {
    font-weight: normal;
    display: inline;
    font-size: 20px;
  }
  input[type="text"] {
    margin-top: 0;
    width: 80%;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
  }
}

#confirm-order-button {
  display: none;
}


.center-buttons {
  text-align: center;
}
